{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
    <div class="ui grid container">
        <div class="ui blue button">
            Add Interests
        </div>
        <div class="ui modal">
            <i class="close icon"></i>
            <div class="content">
                <h2 class="ui dividing header">Add your area of interest</h2>
                {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

                {{ f.begin_form(form, flashes) }}

                <div class="field">
                    {{ f.render_form_field(form.name) }}
                </div>
                <div class="field">
                    {{ f.render_form_field(form.desc) }}
                </div>


                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                    {{ f.render_form_field(field) }}
                {% endfor %}

                {{ f.end_form() }}

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.ui.blue.button').click(function () {

                $('.ui.modal').modal('show');
            });

        });

    </script>
{% endblock %}


