{% extends 'layouts/base.html' %}
{% import 'macros/promo_macros.html' as promo_wid %}

{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1>Published promos</h1>
        </div>
    </div>
    <div class="ui grid">
        <div class="four wide column"></div>
        <div class="eight wide column">
            <div class="ui cards">
                {% for promo in appts %}
                    {{ promo_wid.promo_wid(promo) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
